<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="App for work with information from the web site Alzashop">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>AngularExcel</title>
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css">

    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="favicon.ico">
    <!--[if lte IE8]>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" >
    <![endif]-->
</head>
<body ng-cloak ng-app="AngularExcel">

<div ng-controller="AppCtrl">

        <div id="inputexcel">
                <div id="drop">Drag & drop files here...</div>
                <div id="content_file" flex layout="row">
                    <label flex><ng-md-icon icon="insert_drive_file"></ng-md-icon>{{name}}</label>
                    <label id="inputbutton"  class="custom-file-upload">
                        <ng-md-icon icon="folder"> </ng-md-icon>
                        <js-xls fd-input  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="hidden upload " onread="read" layout-align="center center" onerror="error">
                        </js-xls>
                        Open excel file
                    </label>
                </div>
        </div>

        <div id="tableContainer">
            <table>
                <tr ng-repeat="title in Elements |limitTo:1 ">
                    <th ng-repeat="(key,val) in title " ng-if="key != 'rowIndex'">{{key}}</th>
                </tr>
                <tr ng-repeat="elemnt in Elements" id="{{elemnt['rowIndex']}}">
                    <td ng-change="changedCeld(val,$event)"  ng-model="val" contenteditable="true" strip-br="true" strip-tags="true" select-non-editable="true" id="{{$index}}" ng-repeat="(key,val) in elemnt " ng-if="key != 'rowIndex'">{{val}}</td>
                </tr>
            </table>
            <button ng-hide="saveButton" ng-click="saveData()">Salvar</button>
        </div>


</div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/js-xlsx/shim.js"></script>
    <script src="bower_components/js-xlsx/dist/xlsx.core.min.js"></script>
    <script src="bower_components/angular-js-xlsx/angular-js-xlsx.js"></script>
    <script src="bower_components/file-saver/FileSaver.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="bower_components/angular-contenteditable/angular-contenteditable.js"></script>




    <script src="app.js"></script>

</body>
</html>