#menumore{
    margin-top: 60px;
}

.myGrid {

    width: 600px;

    height: 200px;

}

input[type=file].hidden {
    color: transparent;
    border-radius: 0 5px 5px 0;
    padding: 0 8px;
  /*  color: rgb(255,255,255);*/
    cursor: pointer;
   /* background-color: rgb(33,150,243);*/
    line-height: 36px;
    font-weight: 500;
    font-size: 14px;
    width: 100px;
    display: none;
}


.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: RGBA(0, 103, 221, 0.77);
    border-radius: 5px;
    color: white;
}

#drop{
    border:2px dashed #bbb;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding:25px;
    text-align:center;
    font:24pt bold,"Vollkorn";color:#bbb
}

#content_file{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid #ddd;

}

#content_file>label:first-child{
    padding-top: 5px;
    color: rgba(0, 0, 0, 0.32);
    font-weight: bold;
}

#content_file>label:first-child>ng-md-icon{
    color: black !important;
}

#alzaimg{
    text-align: center;
}

#numofproducts{
    color:blue;

}

#autofill{
    color:blueviolet;
}

#notexistentsproducts{
    color:red;
}

#procesed{
    color:green;
}

#timerDialog{
    padding: 20px 20px;
    text-align:center;
    font-family:Bangers;
    color:red;
    font-size:35px;
    letter-spacing:2px;
}

.timerText{
    color: black !important;
}

.loadingTitle{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.lineSeparator{
    border: 0;
    color: transparent;
    background: transparent;
}